body{
    background-image: url(images/friends.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h3 {
    font-size: 17px;
}

#questions {
    width: 40%;
}

#your-info {
    width: 60%;
}

.jumbotron {
    background-color: #2c82ff;
    color: white;
    opacity: .75;
    margin-top: 20px;
}

#submit {
    padding: 12px 18px 12px 18px;
    background: #2c82ff;
}
    
#jumbo_h2 {
    color: white;
}

.btn-primary {
    padding: 12px 18px 12px 18px;
    color: #fff;
    background-color: #2c82ff;
    border-color: #fff;
}
.panel-body {
    padding: 15px 40px 15px 50px;
}

.panel-title {
    padding: 12px 18px 12px 18px;
    color: 2c82ff;
}
.bold {
    background-color: #fff;
    padding-left: 10px;
    margin: -15px 15px 0 -15px; 
}
.red {
    color: #f00;
}
#required {
    margin: 10px 0 0 0;
    font-weight: 500;
}